.hashtagContainer {
    background-color: rgb(47, 47, 47);
    width: 100%;
    height: 11vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.hashtagName {
    color: white;
    font-size: 2vh;
    margin: 0;
}

.tweetsCounter {
    margin: 1.6vh 0 0 0;
    color: rgb(122, 122, 122);
    font-size: 1.6vh;

}