.leftContainer {
    border: 1px solid grey;
    width: 27vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twitterLogoSmall {
    width: 9vh;
    margin-left: 5vh;
    margin-top: 5vh;
}

.userContainer {
    width: 100%;
    height: 16vh;
    margin-top: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userLogo {
    height: 60%;
    margin-left: 1.5vw;
}

.userInfos {
    width: 70%;
    height: 40%;
    margin-left: 4%;
}

.userFirstname {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2.2vh;
    font-weight: 700;
}

.userName {
    margin: 0;
    padding: 0;
    color: rgb(107, 107, 107);
    font-size: 2vh;
    font-weight: 200;
}

.logOutBtn {
    width: 7vw;
    height: 4vh;
    background-color: #00acee ;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 2.2vh;
    margin-left: 1.5vw;
    margin-bottom: 4vh;
}
